ETHERSCAN_API_KEY=
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
RUGCHECK_BASE_URL=https://api.rugcheck.xyz
HONEYPOT_BASE_URL=https://api.honeypot.is
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
